@{
    Layout = "_Layout";
}

@using Claire.Models;
@model Claire.Models.Stylist;

<h3>Details</h4>

<p>Name: @Html.DisplayFor(model => model.StylistName)
<p>📱Cell: @Html.DisplayFor(model => model.StylistCell)</p>
<p>Skillset: @Html.DisplayFor(model => model.Skillset)</p>
<br>

@if (@Model.Clients.Count == 0)
{
    <p>No clients.</p>
}
@foreach (Client client in Model.Clients)
{
    <p>Client: @client.ClientName</p>
}

<p>@Html.ActionLink("Add", "Create", "Clients")</p>
<p>@Html.ActionLink("Edit", "Edit", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Delete", "Delete", new { id = Model.StylistId })
<p>@Html.ActionLink("All Stylist", "Index")</p>
<p>@Html.ActionLink("Main", "Index", "Home")</p>



