@{
    Layout = "_Layout";
}

@model Claire.Models.Stylist

<h3>Edit Stylist Details: @Html.DisplayFor(model => model.StylistName)</h3>

@using(Html.BeginForm())
{
    @Html.HiddenFor(model => model.StylistId)
    <p>Skillset: @Html.EditorFor(model => model.Skillset)</p>
    <p>Name: @Html.EditorFor(model => model.StylistName)</p>
    <p>📱Cell: @Html.EditorFor(model => model.StylistCell)</p>

    <input type="submit" value="save" class="btn btn-outline-success my-2 my-sm-0" />
}
<br>
<p>@Html.ActionLink("All Stylists", "Index")</p>
<p>@Html.ActionLink("Main", "Index", "Home")</p>